html, body {
    height: 100vh;
}


.kr-kolonna{
        background: linear-gradient(180deg, #0084F8 0%, #00C6FF 100%);   
}

.lab-kolonna{
    background: #E5E5E5;   
}

.sveiciens {
/* Esi sveicināts ĶLUS */
margin: 0 auto; /*nocentrē*/
font-family: 'Poppins', sans-serif;
width: 361px;
height: 140px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 54px;
line-height: 70px;
/* or 130% */

text-align: center;

/* primary/white */

color: #FFFFFF;
}

.group1 {
    /* Group 1 */
margin: 0 auto;
margin-top: 10vh; /*pabīda no augšas*/
width: 80%;
height: 256px;
text-align: center;
}

.line {
width: 60%;
height: 0px;

/* primary/white */

border: 1px solid #FFFFFF;
}

.paskaidrojums{

/* header/h5 */

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-align: center;

/* primary/white */

color: #FFFFFF;
}

.bilde{
margin: 0 auto; /*izlīdzina tekstu no augšas un apakšas*/
margin-top: 10vh; /*pabīda no augšas 10 vh*/
display: block;
}

.zila {
    color: #0084F8;
}

.peleka {
    color: #52616B;
}

.kaste {
    display: block;
}

.poga1 {
/* body/large poga Pieslēdzies */
font-family: 'Open Sans', sans-serif;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 34px;
display: inline-flex; /*lai pogas būtu vienā rindā, bet pietiekot ar tikai inline*/
align-items: center;
background: #0084F8;
border: 1px solid #0084F8;
/* primary/white */

color: #FFFFFF;
}

.poga2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #0084F8;
    /* primary/b200 */
    
    color: #0084F8;
}

.poga3 {
    /* Ziņot par kļūdu */
  
    font-family: 'Open Sans', sans-serif;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    display: inline-flex; /*lai pogas būtu vienā rindā, bet pietiekot ar tikai inline*/
    align-items: center;
    background:#FF8576;
    border: 1px solid #FF8576;
    /* primary/white */
    
    color: #FFFFFF;
    position: absolute;
    bottom: 2vh; /*aizbīda no apakšas 2% no ekrāna*/
    right: 2vh; /*aizbīda no labās puses 2% no ekrāna*/
    }

.pa-kreisi {
    text-align: left;
}